<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item active" aria-current="page">電話帳管理</li>
</ol>

<!-- Flash message -->
<%= render "layouts/flash_message" %>

<!-- Top link -->
<section class="top-link">
  <%= link_to "新規追加", new_adrsbook_path(store_id: @store.id) %>
  <%= link_to "一括インポート", import_adrsbooks_path(store_id: @store.id) %>
</section>

<!-- Search form -->
<section class="search-form">
  <%= search_form_for @q do |f| %>
    <%= f.hidden_field :store_id, value: @store.id %>

    <div class="form-group">
      <%= f.label nil %>
      <%= f.select :adrsbook_subcategory_id_eq,
        options_for_select(@adrsbook_subcategories, @q.adrsbook_subcategory_id_eq),
        {include_blank: "すべてのカテゴリ"}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :フリガナ  %>
      <%= f.search_field :furigana_cont, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :電話番号  %>
      <%= f.search_field :tel1_or_tel2_or_tel3_cont, class: "form-control" %>
    </div>

    <div class="actions">
      <%= button_tag type: :submit, name: nil, class: "btn btn-icon btn-outline-primary" do %>
        <i class="material-icons">search</i>
        検索
      <% end %>
    </div>

  <% end %>
</section>

<!-- Pagination -->
<section class="page-pagination">
  <%= paginate @adrsbooks %>
</section>

<!-- Table list -->
<section>
  <table class="table table-list ">
    <thead>
      <th>カテゴリ</th>
      <th>名前</th>
      <th>フリガナ</th>
      <th>詳細分類</th>
      <th>電話番号1</th>
      <th>電話番号2</th>
      <th>電話番号3</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @adrsbooks.includes(:adrsbook_subcategory).each do |adrsbook| %>
        <tr>
          <td><%= adrsbook.category %></td>
          <td><%= adrsbook.name %> </td>
          <td><%= adrsbook.furigana %></td>
          <td><%= adrsbook.adrsbook_subcategory_name %></td>
          <td><%= adrsbook.tel1 %></td>
          <td><%= adrsbook.tel2 %></td>
          <td><%= adrsbook.tel3 %></td>
          <td class="edit"><%= link_to '編集', edit_adrsbook_path(adrsbook, store_id: @store.id),
            class: "btn btn-sm btn-rounded btn-outline-primary" %></td>
          <td class="delete">
            <%= render "shared/modal_destroy", object_name: "#{adrsbook.name}", object: adrsbook,
              path: adrsbook_path(adrsbook, store_id: @store.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
